body {
    background-color: rgb(254, 253, 249);
    margin-top: 10px;
    margin-bottom: 20px;
}



.dots {
    font-weight: 900;
    color: black;
    text-decoration: none;
}

span {
    font-weight: 500;
}

.page-name {
    font-size: 26px;
    font-weight: 500;
}

.search-form {
    border-radius: 3px;
    height: 30px;
}

.image1 {
    width: 154px;
    height: 154px;
}

.info-btn {
    width: 97px;
    background: #4094EF;
    border-radius: 3px;
    border: none;
}

.btn-dropdown {
    background: #4094EF;
    border: none;
}

.break {
    margin-left: 15%;
    margin-right: 15%;
}

@media screen and (max-width: 560px){
    .box {
        width: 100%;
        margin-top: 20px;
    }

    .container {
        width: 100%;
        margin-left: 0px;
    }

    .image1 {
        margin-right: 50%;
    }
}